header {
  padding-right: 12px;
  padding-left: 12px;
  background-image: url("https://grundydarcey.github.io/Thinkful-About-Me/images/honey.JPG");
  background-size: cover;
}
/* This keeps my text from being wall-to-wall with some padding.*/

body {
  text-align: center;
}

h1 {
  font-family: 'Courier New';
  font-size: 46px;
  text-align: center;
  letter-spacing: 4px;
}
/* Gives color, size, location on the page and room between letters of my text.*/

h2 {
  font-family: 'Courier New';
  text-align: center;
  font-size: 36px;
  letter-spacing: 2.5px;
}

h3 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 30px;
  line-height: 10px;
}

p {
  font-family: georgia;
  text-align: center;
  line-height: 17px;
  font-size: 25px;  
}

.about {
  width: 70%;
  margin: 0 auto;
  line-height: 15px;
}

.container {
  font-size: 24px;
}

/*This is the bulk of my text, so it should be smaller to contain more information.*/

contact {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* This centers most of my page sections that aren't included in H1, H2, H3 and P.*/

a:link {
  background-color: #eed9sf
}

a:visited {
  background-color: #ebe0a4
}

a:hover {
  background-color: #6b612b
}

a:active {
  background-color: #b8af81
}
/*All four of these refer to different states of my clickable links contained in my footer.*/

.group {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 50px;
  margin: auto;
}

footer {
  background-color: white;
  text-align: center;
  font-size: 40px;
}

main {
  margin: auto;
}
